body {
    background: #6e0e04;
    background: -webkit-linear-gradient(0deg, #6e0e04 0%, #b8109d 100%);
    background: linear-gradient(0deg, #6e0e04 0%, #b8109d 100%);
    min-height: 100vh;
    max-height: max-content;
    padding: 0;
    margin: 0;
}

.main-cont {
    min-width: 90vw;
    max-width: max-content;
}

.meme-generator {
    width: 60vw;
}

.sug-btn {

}
.memeCont{
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}

.display-section{
    background-color: black;
    padding: 2em;
    border-radius: 20px;
    transition: all 0.4s ease;
    width: 80%;
}
.display-section:hover{
    box-shadow: black 1px 1px 10px 1px;
}

.memeLink{
    text-decoration: none;
    color: #4e555b;
}
.memeLink:hover{
    text-decoration: none;
    color: white;
}

.me{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
}
.me span{
    font-weight: bold;
    transition: all 0.4s ease;
}

.me span a{
    text-decoration: none;
    color: gray;
    transition: all 0.4s ease;
}
.me span:hover, .me span a:hover{
    transform: scale(1.1);
    color: white;
}

#memeAuthor, #nsfwWarn, #spoilerWarn, #redditLink{
    transition: all 0.4s ease;
}

#memeAuthor:hover, #spoilerWarn:hover, #redditLink:hover, #nsfwWarn:hover {
    color: white;
}


@media only screen and (max-width: 991px) {
 .md-mt{
     margin-top: 10px;
 }
}